.deps/
autom4te.cache/
Makefile
Makefile.in
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
config/
config/tlsdate-config.h
config/tlsdate-config.h.in
src/tlsdate-helper.o
src/tlsdate-helper
src/tlsdate.o
src/tlsdate
