*~
*.gz
*.o
.deps/
.libs/
autom4te.cache/
Makefile
Makefile.in
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
missing
stamp-h1
config/
src/.dirstamp
src/compat/.dirstamp
src/android/.dirstamp
src/configmake.h
src/tlsdate-helper.o
src/tlsdate-helper
src/tlsdate.o
src/tlsdate
m4
*.swp
*.la
*.lo
src/proxy-bio_unittest
src/tlsdate-routeup
src/tlsdated
src/tlsdated_unittest
TAGS
tags
config.h
config.in
