open: 1
read: 1
mmap2: 1
stat64: 1
close: 1
fstat64: 1
_newselect: 1
mprotect: 1
munmap: 1
gettimeofday: 1
_llseek: 1
write: 1
rt_sigprocmask: 1
brk: 1
execve: 1
fcntl64: 1
rt_sigaction: 1
send: 1
poll: 1
# Allow domain == PF_FILE || domain == PF_INET || domain == PF_NETLINK
socket: arg0 == 1 || arg0 == 2 || arg0 == 16
uname: 1
connect: 1
access: 1
ARM_set_tls: 1
wait4: 1
exit_group: 1
getuid32: 1
clone: 1
# Allow request == RTC_SET_TIME || request == FIONREAD
ioctl: arg1 == 0x4024700a || arg1 == 0x541b
setgid32: 1
recvfrom: 1
setresuid32: 1
setgroups32: 1
settimeofday: 1
restart_syscall: 1
setsockopt: 1
setresgid32: 1
nanosleep: 1
exit: 1
rt_sigreturn: 1
rename: 1
bind: 1
clock_gettime: 1
clock_settime: 1
futex: 1
ugetrlimit: 1
set_robust_list: 1
set_tid_address: 1
